@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Новий пароль";
    ViewData["HideNavBar"] = true;
}

<div class="row justify-content-center">
    <div class="col-md-4 mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center">Встановлення нового пароля</h3>
                <hr />
                <form asp-action="ChangePassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="Token" />

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label">Новий пароль</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmNewPassword" class="form-label">Підтвердіть пароль</label>
                        <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success w-100">Оновити пароль</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}