@using TodoListApp.WebApi.Models.Models
@model LoginViewModel

@{
    ViewData["Title"] = "Вхід";
    ViewData["HideNavBar"] = true; 
}

<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h2 class="card-title text-center">Вхід</h2>
                <hr />
                <form asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mb-3">
                        <label asp-for="Email" for="Email" class="form-label">Email</label>
                        <input asp-for="Email" id="Email" class="form-control" placeholder="example@mail.com" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Password" for="Password" class="form-label">Пароль</label>
                        <input asp-for="Password" id="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input asp-for="RememberMe" id="RememberMe" class="form-check-input" />
                        <label asp-for="RememberMe" for="RememberMe" class="form-check-label">Запам'ятати мене</label>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">Увійти</button>
                </form>
                <div class="mt-3 text-center">
                    <a asp-action="Register">Ще не маєте акаунту? Реєстрація</a>
                </div>
                <div class="mt-3 text-center">
                    <a asp-action="VerifyEmail">Забули пароль? Скинути</a>
                </div>
            </div>
        </div>
    </div>
</div>